*{
    margin: 0;
        /* applies to everything */
        text-align: center;
    }

    @font-face {
      font-family: Roboto;
      src: url(../fonts/Roboto-Regular.ttf);
    }
    @font-face {
      font-family: Vercetti;
      src: url(../fonts/Vercetti-Regular.ttf);
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2753;
    position: sticky;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 211, 240);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #120c28;
  }

header {
    height: 120px;
    width: 100%;
    background-color: rgb(175, 176, 255);
    margin-top: 0px;
    text-align: center;
}

body {
    background-color: #2b2753;
    height: 300vh;
}

#landing {
    height: 80vh;
    background-color: rgb(71, 65, 110);
}

#landingtexttitle {
  font-family: Vercetti;
  color: aliceblue;
  text-align: left;
  font-size: 60px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 7%;
}

#landingtext {
  font-family: Roboto;
  line-height: 27px;
  color:rgb(175, 176, 255);
  text-align: left;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 40%;
  padding-top: 12px;
}


.animtitle {
  margin-top: 4%;
  padding-top: 4%;
  font-family: Vercetti;
  font-size: 40px;
  color:  aliceblue;
}

.animinfo {
    margin-top: 2%;
    font-family: Vercetti;
    font-size: 18px;
    color:  aliceblue;
    line-height: 26px;
}

.animdesc {

  margin-top: 3%;
    font-family: Roboto;
    font-size: 16px;
    color:  aliceblue;
}

.animyear {
  font-family: Roboto;
  font-size: 18px;
  color:  aliceblue;
  padding-top: 1%;
}


.biganim {
  width: 60%;
  height: 50%;
  padding-top: 2%;
}

.oldy {
  width: 49%;
  height: 52%;
  padding-top: 2%;
}

.oldy2 {
  width: 49%;
  height: 55%;
  padding-top: 2%;
}

.gif {
  width: 50%;
  height: 52%;
  padding-top: 2%;
}


.new {
  width: 60%;
  height: 30%;
  background-color: rgb(71, 65, 110);
  margin: auto;
  margin-top: 5%;
  border-radius: 20px;
}

.old {
  width: 60%;
  height: 30%;
  background-color: #2b2753;
  margin: auto;
  margin-top: 5%;
  border-radius: 20px;
}

#animationsnew {
  padding-bottom: 5%;
  padding-top: 5%;
}

#animationsold {
  padding-bottom: 5%;
  background-color:rgb(71, 65, 110);
  padding-top: 5%;
}