
 *{ 
    margin: 0;
    }
    @font-face {
      font-family: Roboto;
      src: url(../fonts/Roboto-Regular.ttf);
    }
    @font-face {
      font-family: Vercetti;
      src: url(../fonts/Vercetti-Regular.ttf);
    }

header {
    height: 120px;
    width: 100%;
    background-color: rgb(175, 176, 255);
    margin-top: 0px;
    text-align: center;
}


body {
    background-color: rgb(238, 188, 255);
    
}

/*
#cap {
  height: 50%;
  width: 10%;
}*/


#youtubelink {
    height: 77%;
    background-color: #2b2753;
    text-align: left;
    padding-top: 20px;
    width: 100%;
}

#drawinganimation {
  position: relative;
  width: 35%;
  height: 90%;
  border-radius: 10px;
  text-align: center;
  margin-left: 1%;
  padding-top: 2%;
}

.textanimation {
  height: 100%;
  margin-left: 40px;
  margin-right: 80px;
}

#textanimationtitle {
  font-family: Vercetti;
  color: aliceblue;
  text-align: left;
  font-size: 60px;
  margin-left: 2%;
  padding-top: 1%;
}


#textanimationsub {
  font-family: Roboto;
  color: rgb(175, 176, 255);
  text-align: left;
  font-size: 20px;
  margin-left: 2%;
  margin-right: 30%;
  line-height: 27px;
}


#drawing {
  width: 60vh;
  height: 80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2753;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 211, 240);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #120c28;
  }




  /* Set height of body and the document to 100% to enable "full page tabs" */

  body, html {
  height: 100%;
  margin: 0;
}


/* Style tab links */
.tablink {
  background-color: rgb(231, 160, 255);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: rgb(238, 188, 255);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  text-align: center;
  padding: 100px;
  height: 100%;
  font-family: vercetti;
  font-size: 1.2vw;
}

#Home {
  background-color: rgb(146, 148, 252);
height: 130vh;
}
#News {
  background-color: rgb(71, 65, 110);
  height: 130vh;
}
#Contact {
  background-color: rgb(175, 176, 255);
  height: 130vh;
}
#About {
  background-color: #2b2753;
  height: 130vh;
}


#options {
  font-family: Vercetti;
  text-align: center;
  padding: 0px;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 45% 45% 45% 45% 45% 45%;
  
  gap: 5%;
}


iframe {
  border-radius: 10px;
  height: 35vh;
  width: 100%;
}

.Calarts {
  height: 15%;
  width: 30%;
  border-radius: 10px;
}

p {
  padding-left: 30%;
  padding-right: 30%;
  line-height: 25px;

  text-align: left;
}